#playListContainer {
    margin: 0pt;
    padding: 0;
    height: 510pt;
    width: 420pt;

    font-size: 16pt;
    letter-spacing: 2pt;
    font-family: "EngraversGothic BT";
    font-weight: lighter;

    position: relative;
    left: 35pt;
}

#playListContainer li {
    text-align: center;
    cursor: pointer;

    margin-bottom: 15pt;
    padding: 10pt 20pt;

    background-color: rgba(230, 231, 232, 0.5);
    box-shadow: -4pt 4pt 10pt rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

#playListContainer li:hover {
    transform: scale(1.05);
    background-color: rgba(230, 231, 232, 0.3);
}

#playListContainer p {
    display: none;
}

#playListContainer s {
    display: none;
}

#playListContainer a:hover {
    text-decoration: none;
    color: white;
}

#listContainer::-webkit-scrollbar {
    width: 10px;
    border-radius: 10pt;
}
#listContainer::-webkit-scrollbar-track {
    background-color: rgba(230, 231, 232, 0.6);
    border-radius: 10pt;
}
#listContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10pt;
}
#listContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}